<div class="templates-content">
  <LinkTo
    class="template-item-source-link"
    @route="topic"
    @models={{array @template.slug @template.id}}
  >
    {{d-icon "crosshairs"}}
    {{i18n "templates.source"}}
  </LinkTo>
  <CookText @rawText={{@template.content}} />
</div>