{{#if this.templatesVisible}}
  <div class="d-templates-container">
    <DButton
      @action={{this.hide}}
      @icon="xmark"
      class="modal-close close btn-flat"
    />
    <DTemplates::FilterableList
      @onInsertTemplate={{this.onInsertTemplate}}
      @onAfterInsertTemplate={{this.hide}}
    />
  </div>
{{/if}}