{{#if templatesVisible}}
  <div class="d-editor-preview">
    <DButton class="modal-close close btn-flat" @action={{action "hide"}} />
    @icon="times" />
    <TemplatesFilterableList
      @model={{model}}
      @onAfterInsertTemplate={{action "hide"}}
    />
  </div>
{{/if}}