{{#if templatesVisible}}
  <div class="d-editor-preview">
    {{d-button class="modal-close close btn-flat"
               action=(action "hide")
               icon="times"}}
    {{templates-filterable-list model=model onInsertTemplate=(action "insertTemplate")}}
  </div>
{{/if}}
